<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Gerenciamento de Estoque</title>
</head>
<body>
    <header>
        <h1>Painel de Gerenciamento de Estoque</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="{% url 'produtos' %}">Produtos</a>
        <a href="#">Entradas</a>
        <a href="#">Saídas</a>
        <a href="#">Relatórios</a>
    </nav>
</body>
</html>
